{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>authentication</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>

<div class="container">

    <h1 class="head">TO DO LIST APP</h1>

    <ul>
        <li>
            <a href="/signup" type="submit" class="btn"> Sign Up </a>
        </li>
        <li>
            <a href="/signin" type="submit" class="btn" > Sign In </a>
        </li>
    </ul>
</div>

</body>
</html>